.contacts {
  padding: 120px 0;

  @include vp-1023 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 59px 0 65px 0;
  }
}

.contacts__container {
  display: grid;
  grid-template-columns: 560px 1fr;
  gap: 30px;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.contacts__map {
  width: 100%;
  height: 306px;
  background-color: var(--color-solitude);

  @include vp-1023 {
    height: 335px;
  }

  @include vp-767 {
    height: 316px;
    order: 1;
  }
}

.contacts__map-image {
  display: none;

  &.no-js {
    display: block;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contacts__text {
  place-self: start end;
  max-width: 500px;
  padding-top: 75px;

  @include vp-1023 {
    padding-top: 65px;
  }

  @include vp-767 {
    padding-top: 0;
  }

  p {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    @include vp-1023 {
      margin-bottom: 28px;
    }
  }
}

.contacts__wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  @include vp-1023 {
    align-items: flex-start;

    &:first-of-type {
      svg {
        transform: translateY(4px);
      }
    }
  }

  @include vp-767 {
    margin-bottom: 20px;
  }

  svg {
    flex-shrink: 0;
    margin-right: 10px;
  }

  address {
    font-style: normal;

    @include vp-1023 {
      max-width: 260px;
    }
  }

  a {
    display: inline-block;

    @include hover-focus {
      background-color: rgba(var(--color-tangaroa), 0.1);
    }

    &:active {
      opacity: 0.5;
    }
  }
}
