.footer {
  padding-top: 47px;
  padding-bottom: 45px;
  color: var(--color-alice-blue);
  background-color: var(--color-tangaroa);

  @include vp-1023 {
    padding-top: 45px;
  }

  @include vp-767 {
    padding-top: 36.5px;
    padding-bottom: 35px;
  }
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include vp-767 {
    display: block;
  }
}

.footer__nav {
  display: flex;
  align-items: flex-start;

  @include vp-767 {
    margin-bottom: 12px;
    display: block;
  }
}

.footer__logo {
  margin: 0;
  margin-right: 40px;
  width: 70px;
  height: 38px;

  flex-shrink: 0;
  display: inline-block;

  filter: brightness(0) saturate(100%) invert(97%) sepia(14%) saturate(1515%) hue-rotate(168deg) brightness(112%) contrast(97%);

  transform: translateY(2px);

  @include vp-1023 {
    margin-right: 25px;
    width: 38px;
    height: 20px;

    transform: translateY(4px);
  }

  @include vp-767 {
    margin-top: 4px;
    margin-bottom: 18px;
    transform: translateY(1px) translateX(2px);
  }

  @include hover-focus {
    filter: drop-shadow(0 0 3px var(--color-alice-blue));
  }

  &:active {
    opacity: 0.5;
  }

  img {
    width: 100%;
    display: block;
    object-fit: contain;
  }
}


.footer__nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  @include vp-767 {
    display: block;
  }

  li {
    margin-right: 33px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    @include vp-1023 {
      margin-right: 24px;
      font-size: 12px;
      line-height: 15px;
    }

    @include vp-767 {
      margin: 0;
      margin-bottom: 3px;
    }
  }

  a {
    padding: 12px 0;
    display: inline-block;
    position: relative;
    color: inherit;

    @include vp-1023 {
      padding: 7px 0;
    }

    @include hover-focus {
      &::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: var(--color-alice-blue);
      }

      &:active {
        opacity: 0.5;
      }
    }
  }
}

.footer__social {
  max-width: 170px;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: flex-end;
  list-style-type: none;
  transform: translateX(10px);

  @include vp-1023 {
    transform: translateX(8px);
  }

  @include vp-767 {
    max-width: 100%;
    transform: translateX(-12px);
  }
}

.footer__social-item {
  margin-top: 2px;
  margin-left: 6px;

  @include vp-1023 {
    margin-left: 5px;
  }

  @include vp-767 {
    margin-left: 0;
    margin-right: 5px;
  }
}

.footer__social-link {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;

  @include vp-1023 {
    padding: 5px 8px;
  }

  @include hover-focus {
    background-color: rgba(var(--color-alice-blue), 0.2);
  }

  &:active {
    opacity: 0.5;
  }

  svg {
    width: 20px;
    height: 20px;

    @include vp-1023 {
      width: 16px;
      height: 16px;
    }
  }
}
