.header {
  background-color: var(--color-spphire);
}

.header__wrapper {
  display: flex;
  background-color: var(--color-spphire);

  @include vp-767 {
    flex-direction: column;
  }
}

.header__logo-link {
  height: 38px;
  display: block;
  position: relative;
  z-index: 2;
}

.header__logo {
  width: 70px;
  height: 38px;
  display: block;
  background-color: transparent;
  filter: brightness(0) saturate(100%) invert(97%) sepia(14%) saturate(1515%) hue-rotate(168deg) brightness(112%) contrast(97%);
}

.header__menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  @include vp-767 {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.header__site-navigation {
  max-width: 768;
  position: relative;

  @include vp-1023 {
    order: 0;
  }

  @include vp-767 {
    width: 100%;
    order: 2;
    background-color: var(--color-alice-blue);
    margin-left: 36px;
    margin-top: -38px;
    padding-top: 38px;
  }
}

.site-navigation__list {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;

  @include vp-767 {
    display: block;
  }
}

.site-navigation__link {
  padding: 13px 11.5px;

  @include vp-767 {
    width: 100%;
    min-height: 57px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}
