.travel {
  padding-bottom: 145px;

  @include vp-1023 {
    padding-bottom: 82px;
  }

  @include vp-767 {
    padding-bottom: 85px;
  }
}

.travel__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

.travel__description {
  padding-top: 45px;
  max-width: 515px;
  align-self: stretch;

  @include vp-1023 {
    padding-top: 0;
    max-width: 100%;
  }

  h2 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 28px;
    line-height: 42px;

    @include vp-1023 {
      margin-top: 0;
      margin-bottom: 18px;
      max-width: 210px;

      font-size: 26px;
      line-height: 36px;
    }

    @include vp-767 {
      margin-bottom: 17px;
      font-size: 24px;
      line-height: 34px;
    }
  }

  p {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;

    @include vp-1023 {
      font-size: 16px;
      line-height: 150%;
    }
  }
}

.travel__image-wrapper {
  width: 100%;
  align-self: stretch;

  @include vp-1023 {
    padding-top: 10px;
  }

  @include vp-767 {
    padding-top: 0;
  }

  img {
    width: 100%;
    object-fit: contain;
    background-color: var(--color-cerulean);
  }
}
